*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.container{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .calculator{
        width: 300px;
        .results{
            text-align: end;
            font-size: 3em;
            overflow: auto;
            max-width: 100%;
            scrollbar-width: thin; 
            scrollbar-color: transparent transparent;
            -ms-overflow-style: none;
            -webkit-overflow-scrolling: touch;
            white-space: nowrap;
        }
        .results::-webkit-scrollbar {
            width: 6px;
        }
        
        .results::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
        .btns{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);
            gap: 5px;
            button{
                border: none;
                outline: none;
                color: #ffffff;
                background-color: #212121;
                border-radius: 50%;
                height: 71.25px;
                font-size: 1.5em;
            }
            .del{
                grid-column: 1/3;
                border-radius: 50px;
            }
            button:nth-child(16){
                grid-column: 1/3;
                border-radius: 50px;
            }
            .grey{
                background-color: #a5a5a5;
            }
            .orange{
                background-color: #fe9505;
            }
        }
    }
    @media (min-width: 426px){
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .calculator{
            border: 1px solid #ffffff;
            border-radius: 15px;
            padding: 10px;
            .results{margin-top: 30px;}
            .btns{
                button{
                    height: 65.75px;
                }
            }
        }
    }
}